### Node Modules ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Vite Build Output ###
dist/

### Editor Directories ###
.vscode/
.idea/

### Environment Variables ###
.env*

### Cache and Logs ###
.DS_Store
Thumbs.db
.cache/
output.log

### TypeScript ###
*.tsbuildinfo

### Miscellaneous ###
tmp/
temp/

### MacOS System Files ###
*.DS_Store
