# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor directories
.vscode/
.idea/
.sublime-workspace
.sublime-project

# Package lock files (if using Yarn)
yarn.lock

# npm package lock file
package-lock.json

# Front-end build artifacts
/frontend/build/
/frontend/dist/

# Back-end build artifacts
/backend/build/
/backend/dist/

# Admin panel build artifacts
/admin/build/
/admin/dist/